#accordion-container {
    width: 60%;
    margin: 0px auto;
}

.accordion {
    background-color: #eee;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.4s;
    }

    .active1, .accordion:hover {
    background-color: #ccc;
    }

    .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    }

    .active1:after {
    content: "\2212";
    }

    .panel {
        padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    
    color: #444;
    display: flex;
    height: auto;
    }

    .panel-text {
        line-height: 25px;
    }

    .vertical-bar {
        margin-right: 10px;
        height: auto;
        width: 40px;
        background-color: #47afeb;
    }

    @media only screen and (max-width: 1300px) {
        #accordion-container {
            width: 75%;
        }
    }