@media only screen and (max-width: 1120px) {
    #header .flex {
        display: flex;
        flex-direction: column;
    }
    #header .flex > div {
        flex-wrap: wrap; /* Ensure flex items wrap within the column layout */
    }
}

@media only screen and (min-width: 1121px) {
    #header .flex {
        display: flex;
        flex-direction: row;
    }
}

#header {
    position: relative; /* Ensure the header serves as the positioning context */
    padding: 40px 35px 35px 40px;
    color: white;
    height: calc(100vh - 155px); /* Adjusted height */
}

#background-image {
    position: absolute; /* Position the background image relative to the header */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./misc files/wp8046982.webp');
    background-size: cover;
    background-position: center;
    z-index: -1; /* Ensure the background image is behind other content */
}

#header-text-container {
    position: relative; /* Ensure the header text is positioned relative to the header */
    z-index: 1; /* Ensure the header text is in front of the background image */
}

/* Your existing styles for header text and other elements */


#header #title {
    font-size: 80px;
    margin-bottom: 10px;
    font-family: "Merriweather", serif;
    font-weight: 400;
}

#header p {
    margin-bottom: 3px;
    line-height: 25px;
}

#header .flex {
    flex-wrap: wrap;
    row-gap: 60px;
}

#header .button-link {
    color: white;
}

.h_container{
    display: inline;
    text-align:center;
    line-height:30px;
}

#heart{
    font-size: 20px;
    margin-right: 5px;
    color: #47afeb;
}

.button-container {
    align-items: center;
    cursor: pointer;
    margin-left: auto;
}

@media only screen and (max-width: 768px) {
    #tag-list a:nth-child(n+4) {
        display: none; /* Hide tags starting from the fourth one on smaller screens */
    }
}
    


@media only screen and (max-width: 558px) {
    #header .flex {
        row-gap: 45px;
    }
}