#research-list {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 35px;
    padding-right: 45px;
    display: flex;
    flex-direction: column;
    row-gap: 70px;
    width: 50%;
    position: relative;
    
}

.research-title {
    margin-bottom: 18px;
}

.category {
    display: inline-block;
}

.year {
    display: inline-block;
    margin-bottom: 20px;
}

.chapter-title {
    margin-bottom: 5px;
}

.content {
    padding-right: 35px;
}

table {
    border-collapse: collapse;
    width: 85%;
    margin: 30px auto 0px auto;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

@media only screen and (max-width: 1030px) {
    #research-grid {
        grid-template-columns: 100%; /* Switch to one column */
    }

    .research-title {
        font-size: 20px; /* Adjust title font size for better readability */
    }

    table, th, td {
        font-size: 12px; /* Decrease font size */
    }

    img {
        max-width: 100%;
        height: auto;
    }
}
